{% extends 'base.html.twig' %}

{% block body %}
    <div class='logo'><img src='{{asset('bundles/framework/images/BAC_logo.png')}}' alt='Bell Air Cinema'/></div>
    <div ng-view id='login'></div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
