#login {
  margin: 10% auto auto auto;
  position:relative; 
  width:480px;
  button { 
    width:100%;
    margin-bottom:20px;
  }
  label {
    font-size: $font-size-small;    
  }
  .animate-hide {
    -webkit-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    width:480px;
    position: absolute;
    left: 0;
    .ng-hide {
      left: -100%;
    }
  }
  input[type=text]:focus {outline:none;}
  input:-webkit-autofill {
    background-color:transparent!important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset!important;
  }
}

@media screen and (max-width: 480px) {
  #login { 
    width:80%;
  }
}
h2 {
  text-align: center;
}
.has-error {
  input {
    border-bottom:1px solid $brand-error !important;
  }
  label {
    color: $brand-error;
  }
  .error-text {
    color: $brand-error;
  }
}
.alert {
  padding:6px;
  text-align:center;
  position:relative;
  .glyphicon {
    left:15px;
    top: 10px;
    position:absolute;
  }
}
